.product-page {
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  &__preview {
    width: 100%;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1/1;
  }
  &__info {
    width: 100%;
    max-width: 650px;
    background-color: #12130f;
    border-radius: 15px;
    padding: 73px 40px;

    .text {
      width: max-content;
      margin: 0;
    }
  }
  &__order {
    display: flex;
    gap: 32px;
  }

  &__compile {
    display: flex;
    flex-wrap: wrap;

    gap: 12px;
    &-item {
      flex-shrink: 0;
      list-style: none;
      padding: 5px 12px;
      font-size: 16px;
      line-height: 200%;
      color: #b4b4bc;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
    }
  }

  &__title {
    width: 100%;
    padding: 16px 0;
  }

  &__desc {
    font-size: 16px;
    line-height: 150%;
    color: #B4B4BC;
  }
  &__price {
    padding: 24px 0 25px 0;
  }
  &__compile {
    &-title {
      margin: 50px 0 24px 0;
    }

    &-item {
      line-height: 150%;
    }
  }

  &__rec-title {
    width: 100%;
    text-align: center;
  }

  &__recommendations {
    margin: 120px 0 0 0;
  }
  &__recommendations-head {
    display: flex;
    justify-content: space-between;
  }
  &__recommendations-arrows {
    display: flex;
    gap: 16px;
  }
  &__recommendations-track {
    overflow: hidden;
  }
  &__recommendations-list {
    margin: 34px 0;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .product-page {
    &__content {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
    }

    &__title {
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
    }

    &__info {
      padding: 20px 30px;
    }

    &__order {
      flex-direction: column;
    }

    &__price__mob {
      display: flex;
      gap: 30px;
    }
  }
}
