.select-city {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title__h4 {
        margin: 24px 0;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }
  &__btn {
    background: #f3f3f5;
    border-radius: 7px;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    text-align: center;

    /* Black */

    color: #12130f;
    width: 248px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
