.container {
  max-width: 1300px;
  margin: 0 auto;
}

@media screen and (max-width: 1300px) {
  .container {
    max-width: 100%;
    padding: 0 24px;
  }
}

@media screen and (max-width: 786px) {
    .container {
      padding: 0 12px;
    }
  }
  