.grid_layout {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 0.8fr 1.2fr 1fr;
  grid-template-rows: 1fr 1fr 1.1fr;
  gap: 0px 0px;
  grid-template-areas:
    "side main main"
    "side main main"
    "side main main";

  &--side {
    grid-area: side;
  }
  &--main {
    grid-area: main;
  }

  @media (max-width: 400px) {
    display: flex;
    margin-top: 0;
    padding-top: 62px;
    &--side {
      display: none;
    }
    &--main {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
