.product {
  max-width: 315px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:hover {
    .product__preview {
      opacity: 0.9;
    }
    .counter {
      .counter__btn {
        user-select: none;
      }
    }
  }
  &__cta {
    z-index: 200;
    position: absolute;
    top: 16px;
    right: 16px;
  }
  &__like {
    transition: linear 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 100px;
    transition: linear 0.2s;
    &:hover {
      background: rgba(255, 255, 255, 0.5);
    }
    &-active {
      background: rgba(255, 255, 255, 1);
      svg {
        fill: #ff5124;
        path {
          stroke: #ff5124;
        }
      }
    }
  }
  &__preview {
    transition: linear 0.25s;
    max-width: 315px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    line-height: 0;

    &:hover {
      .product__addToCard {
        bottom: 0;
      }
    }
    img {
      height: 100%;
    }
  }
  &__addToCard {
    transition: linear 0.05s;
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    z-index: 200;
    background: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    line-height: 150%;

    padding: 8px 0;
    color: #ffffff;
    &:hover {
      background: #12130f;
    }
  }
  &__inCart {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    background: rgba(0, 0, 0, 0.6);
    padding: 0;
    p {
      font-size: 16px;
      line-height: 150%;
      /* identical to box height, or 24px */

      padding: 8px 0;
      color: #92939a;
    }
    &:hover {
      background: #12130f;
    }
  }
  &__weight {
    padding: 20px 0 12px 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #a4a4a4;
  }
  &__name {
    font-family: 'Unbounded';
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #12130f;
    padding-bottom: 8px;
  }
  &__composition {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    color: #787780;
  }
  &__order {
    padding: 26px 0 0 0;
    display: flex;
    align-items: center;
  }
  &__price {
    width: 100px;
    display: flex;
    justify-content: space-between;
  }
  &__total-price {
    font-family: 'Unbounded';
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;

    color: #12130f;
  }
}

.counter {
  display: flex;
  gap: 12px;
  align-items: center;

  &__btn {
    transition: linear 0.25s;
    font-family: 'Unbounded';
    display: flex;

    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 100px;
    background: #f3f3f5;
    color: rgba(217, 217, 222, 1);
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    user-select: none;

    &--transperent {
      user-select: none;
      background: rgba(255, 255, 255, 0.2);
      opacity: 0.8;
      &:hover {
        opacity: 1;
        color: white;
      }
    }
    &--light {
      background: #ffffff;
    }
  }
  &__value {
    font-family: 'Unbounded';
    font-weight: 400;
    font-size: 12px;
  }
}

.plus {
  &:hover {
    color: rgba(18, 19, 15, 1);
  }
}

.minus {
  &:hover {
    color: rgba(18, 19, 15, 1);
  }
}

@media screen and (max-width: 786px) {
  .product {
    max-width: 100%;

    &__preview {
      max-width: 100%;
      border-radius: 15px;
      overflow: hidden;
      position: relative;
      aspect-ratio: 1 / 1;
      &:hover {
        .product__addToCard {
          bottom: 0;
        }
      }
    }
    &__addToCard {
      bottom: 0;
      padding: 8px 0;
    }
    &__inCart {
      bottom: 0;
      padding: 15px 0;
      p {
        padding: 0;
      }
    }
  }
}
