@import '../../style/colors.scss';

.radio-button {
  display: grid;

  gap: 16px;

  &-column {
    display: flex;
    gap: 16px;
    flex-direction: column;
  }
  &__info {
    display: block;
    padding-left: 30px;
    color: #92939a;
  }
  &__flex-content {
    display: flex;
    align-items: center;
    position: relative;
  }
  label {
    font-weight: 400;
    cursor: pointer;
    margin-right: 8px;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    letter-spacing: -0.01em;

    /* Black */

    color: #12130f;
    input[type='radio'] {
      position: absolute;
      opacity: 0;

      &:checked + span {
        border-color: $accentColor;

        &::before {
          background-color: $accentColor;
        }
      }
    }

    span {
      display: inline-block;
      position: relative;
      width: 24px;
      height: 24px;
      border: 1px solid #d9d9de;
      border-radius: 50%;
      margin-right: 5px;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: transparent;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .radio-button {
    display: flex;
    flex-direction: column;
  }
}
.radio-button .disabled {
  color: #757479;
}
