.card {
  display: flex;
  align-items: center;
  gap: 8px;

  &__ico {
    position: relative;
    width: 32px;
    height: 32px;
    background-color: #f3f3f5;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__length {
    position: absolute;
    width: 17px;
    height: 17px;
    background-color: #62d9f1;
    border-radius: 100px;
    top: -4px;
    right: -8px;
  }
  &__text {
    padding-left: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #12130f;
  }
}
@media screen and (max-width: 940px) {
  .shopping-cart{
    .btn-main-fw {
      display: block;
    }
  }
}
@media screen and (max-width: 786px) {
  .card {
    &__ico {
      width: 44px;
      height: 44px;
      background-color: #f3f3f5;
      svg {
        width: 20px;
        height: 20px;
        path {
          fill: #000000;
        }
      }
    }
    &__text {
      display: none;
    }
  }
}

.shopping-cart {
  z-index: 1000;
  top: 0;
  right: 0;
  position: fixed;
  background: #ffffff;
  width: 550px;
  height: 100%;
  overflow: scroll;

  padding: 40px;

  &__close {
    cursor: pointer;
    display: block;
    width: fit-content;
    margin: 0 0 30px auto;
  }
  &__content {
    padding: 24px 0 0 0;

    border-top: 1px solid #ebebee;

    &--empty {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      h5 {
        margin: 32px 0 16px 0;
      }
    }
  }
  &__preview {
    flex-shrink: 0;
    width: 80px;
    overflow: hidden;
    height: 80px;
    border-radius: 10px;
    background-color: lightblue;
    img {
      height: 100%;
    }
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__remove {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  &__info {
    width: 100%;
  }
  &__products-count {
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */

    /* 800 */

    color: #49484d;
  }
  &__list {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-height: 120px;
    max-height: 400px;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    &-wrapper {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 10%;
        bottom: 0;
        left: 0;

        background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.807637839879154) 20%,
          rgba(0, 212, 255, 0) 100%
        );
      }
    }
  }
  &__item {
    width: 100%;
    padding: 12px;
    background: #f3f3f5;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 12px;
    list-style: none;
  }
  &__weight {
    font-family: 'Golos Text';
    padding: 8px 0 10px 0;
    font-weight: 400;
    font-size: 12px;

    /* identical to box height, or 18px */

    /* 600 */

    color: #757479;
  }
  &__price {
    font-family: 'Golos Text';

    font-weight: 400;
    font-size: 16px;

    /* identical to box height, or 24px */

    color: #000000;
  }
  &__total {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 24px 0 16px 0;
  }
  &__total-row {
    display: flex;
    justify-content: space-between;
  }
  &__remove {
    cursor: pointer;
  }
  &__text {
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #92939a;
  }
  &__text-final {
    font-family: 'Golos Text';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;

    text-align: center;

    color: #000000;
  }
}

@media screen and (max-width: 786px) {
  .shopping-cart {
    width: 100%;
  }
}
