.menu {
  &__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .menu {
    &__products {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 786px) {
  .menu {
    &__products {
      justify-content: center;
      grid-template-columns: 1fr;
      max-width: 400px;
      margin: 0 auto;
    }
  }
}

.categories {
  margin-bottom: 48px;
  h1 {
    text-align: center;
    margin: 116px 0 30px 0;
  }
  &__list {
    display: flex;
    gap: 12px;
    width: 86%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__btn {
    padding: 10px 16px 8px 16px;
    // text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    /* 800 */

    color: #49484d;

    border: 1px solid #d9d9de;
    border-radius: 10px;
    transition: linear .25s;
    &:hover {
      border: 1px solid #12130f;
      color: #12130f;
    }
    &-active {
      background: #62d9f1;
      border: 1px solid #62d9f1;
      &:hover {
        border: 1px solid #62d9f1;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .categories {
    margin-bottom: 48px;
    h1 {
      font-size: 28px;
    }
  }
}
