@import '../style/colors.scss';

.menu {
  &__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px 20px;
  }
}

@media screen and (max-width: 1024px) {
  .menu {
    &__products {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 786px) {
  .menu {
    &__products {
      justify-content: center;
      grid-template-columns: 1fr;
      max-width: 400px;
      margin: 0 auto;
    }
  }
}

.categories {
  margin-bottom: 48px;
  width: 100%;

  &__inner {
    display: flex;
    justify-content: center;
  }
  h1 {
    text-align: center;
    margin: 116px 0 30px 0;
  }
  &__list {
    display: flex;
    gap: 12px;
    width: 86%;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__btn {
    padding: 10px 16px 8px 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #49484d;

    border: 1px solid #d9d9de;
    border-radius: 10px;
    transition: linear 0.25s;
    &:hover {
      border: 1px solid #12130f;
      color: #12130f;
    }
    &-active {
      background: $accentColor;
      border: 1px solid $accentColor;
      color: $btnTextColor;
      &:hover {
        border-color: $accentColorHover;
        color: $btnTextColor;
        background: $accentColorHover;
      }
      &:active {
        background: $accentColorActive;
        border-color: $accentColorActive;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .categories {
    margin-bottom: 48px;

    h1 {
      font-size: 28px;
    }
    &__inner {
      width: 100%;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      scrollbar-color: transparent transparent;
    }
    &__list {
      width: 100%;
      justify-content: flex-start;
      flex-wrap: nowrap;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &__btn {
      flex-shrink: 0;
    }
  }
}
