.addresses {
  display: flex;

  &_inner {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width: 900px) {
      justify-content: flex-start;
    }
  }

  &_new {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-image: url(../../../src/assets/dashed-border.svg);
    // background-repeat: no-repeat;
    // object-fit: contain;
    border: 1px dashed #d9d9de;
    border-radius: 7px;
    height: 335px;
    width: 335px;
    order: 2;

    transition: background 0.4s ease-in-out;

    &:hover {
      background: rgba(243, 112, 5, 0.1);
    }

    @media (max-width: 768px) {
      max-width: 335px;
    }

    &__inner {
      border-radius: 7px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      // padding: 115px 99px 117px;

      &--icon {
        height: 44px;
        transition: transform 0.3s ease-in-out;

        &:hover {
          transform: scale(1.4);
        }
      }

      &--text {
        font-size: 16px;
        padding-top: 16px;
      }
    }
  }

  &_created {
    display: flex;
    border: 1px solid #ebebee;
    border-radius: 15px;
    height: 335px;
    width: 335px;

    @media (max-width: 768px) {
      height: 260px;
      order: 1;
    }

    &__container {
      padding: 12px;
      margin: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width: 768px) {
        width: 100%;
        padding: 12px 0;
      }

      &--bot {
        span {
          color: #757479;
          font-size: 14px;
        }

        p {
          padding-top: 5px;
        }

        button {
          background-color: #f3f3f5;
          border-radius: 7px;
          font-size: 16px;
          margin-top: 16px;
          padding: 10px 95px 8px;
          width: 100%;
        }
      }
    }
  }
}

.top-name {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  h4 {
    font-family: 'Unbounded';
  }

  button {
    display: flex;
    padding: 10px;
    background-color: #f3f3f5;
    border-radius: 50%;
  }
}

.top-street {
  padding-top: 12px;
  font-size: 14px;

  span {
    color: #757479;
  }
}
