*,
body {
  font-family: 'Golos Text', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  @include onMobile {
    font-size: calc(100vw / 390 * 10);
  }
}

.root {
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
}
input,
select {
  outline: none;
  border: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.banner {
  background-image: url('../assets/banner.webp');
  background-size: cover;
  background-repeat: no-repeat;

  max-width: 1320px;
  height: 600px;
  margin: 0 auto;

  border-radius: 20px;

  @include onMobile {
    background-image: url('../assets/bannerMob.webp');
  }
}

.hdpi.pac-logo:after {
  content: none !important;
}

.pac-item {
  padding: 7px 12px !important;
}

.pac-icon {
  display: none !important;
}

.pac-container {
  background: #f3f3f5 !important;
  border-radius: 5px !important;
}

.order-page > .pac-container {
  top: 565px !important;
  z-index: 2 !important;
  @include onMobile {
    top: 1036px !important;
  }
}
.address-page > .pac-container {
  top: 410px !important;
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    top: 390px !important;
  }
  @media screen and (min-width: 1024px) {
    top: 385px !important;
  }
}

// * {
//   border: 1px solid red;
// }
