.profile_sidebar {
  &--header {
    font-family: "Unbounded", cursive;
    font-size: 16px;
    line-height: 1.3;
    padding-bottom: 48px;
  }

  &--nav {
    list-style-type: none;
    color: #757479;

    &__item {
      margin-bottom: 16px;
    }
    &__link {
      display: block;
      padding: 8px 12px 12px;
      width: max-content;
      text-decoration: none;
      color: inherit;
      transition: all 0.8s;

      @media (min-width: 768px) {
        &:hover {
          border-radius: 10px;
          color: black;
          background-color: #f3f3f5;
        }
      }
    }
  }
}

.sidebar-mobile {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  @media (min-width: 768px) {
    display: none;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #ebebee;
  }

  &__item--arrow {
    @media (min-width: 768px) {
        display: none;
    }
  }

  @media (max-width: 768px) {
    &__item--mobile {
      display: flex;
      margin-bottom: 0;
      
    }

    &__item--mobile:not(:last-child) {
      border-bottom: 1px solid #ebebee;
    }
  }

  &__link {
    @media (max-width:701px) {
      width: 100%;
      padding-left: 0;
    }
    padding-bottom: 20px;
    padding-top: 15px;
  }
  &__list {
    list-style: none;
  }

  &__footer {
    display: none;
    @media (max-width: 768px) {
      display: block;
      margin-bottom: 40px;

      &--list {
        display: flex;
        flex-direction: column;

        a {
          padding-bottom: 18px;
          color: #92939A;
          font-size: 14px;
        }
      }

    }
  }
}

.active {
  border-radius: 10px;
  color: #12130f;
  background-color: #f3f3f5;
}

.sign_out {
  color: #f55d66;
}
