.paymentAndDelivery {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  &__block {
    .title__h3 {
      margin-bottom: 36px;
      font-size: 45px;
      font-weight: 500;
      line-height: 130%; /* 58.5px */
      letter-spacing: -0.9px;
    }
  }

  .map {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);

    ul {
      padding-left: 20px;
      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
    }

    .deliveryMap {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 22px;
      font-family: Unbounded;
      font-size: 24px;
      font-weight: 500;
      line-height: 130%;
    }
  }
  &__paymentMethodts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.145vw;
    grid-row-gap: 1.145vw;
  }
  &__paymentMethodt {
    background: #fafcff;
    border: 1px solid #e0e8f0;
    border-radius: 0.3125vw;
    height: 6.041vw;
    position: relative;
    padding: 0.52vw;
  }
  &__name {
    font-size: 1.145vw;
    line-height: 1.77vw;
    font-weight: 500;
    color: #212529;
  }
  &__ico {
    position: absolute;
    right: 0.52vw;
    bottom: 0.52vw;
  }
  &__list {
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;

    li {
     line-height: 150%;
    }
    &--num {
      li {
        list-style-type: decimal;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .paymentAndDelivery {
    &__paymentMethodts {
      grid-template-columns: repeat(2, 1fr);
    }

    &__content {
      gap: 70px;
    }

    &__block {
      .title__h3 {
        margin-bottom: 24px;
        font-size: 28px;
        line-height: 130%; /* 36.4px */
        letter-spacing: -0.28px;
      }

      .deliveryMap {
        width: 100%;
        h3 {
          font-size: 18px;
          font-weight: 500;
          line-height: 130%;
        }
      }
    }

    .map {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 54px;

      ul {
        width: 270px;
        margin: 0;
        padding-left: 23px;
      }
    }

    &__paymentMethodt {
      height: 100px;
    }

    &__name {
      font-size: 18px;
      line-height: 120%;
      text-align: center;
    }

    &__list {
      li {
        font-size: 16px;
        list-style: none;
      }
    }

    &__ico {
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}
