.profile {
  &-header {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &_link--mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 48px;

    h3 {
      padding-bottom: 0;
    }

    img {
      display: block;
    }

    @media (min-width: 769px) {
      display: none;
    }
  }

  &_info {
    &--head {
      @media (max-width: 768px) {
        display: none;
      }

      display: flex;
      flex-direction: row;
      align-items: center;
      padding-bottom: 32px;

      &__photo {
        display: block;
        border-radius: 50%;
      }

      &__contacts {
        padding-left: 24px;

        @media (max-width: 768px) {
          padding-left: 20px;
        }
      }

      &__button {
        padding-left: 32px;
      }
    }

    &--head__mobile {
      display: flex;
      gap: 20px;
      align-items: center;

      @media (min-width: 769px) {
        display: none;
      }
    }

    &--bonuses__mobile {
      display: flex;

      p {
        padding: 19px 0 30px 0;
        margin: 0 auto;
        font-size: 12px;
        color: #92939a;
      }

      @media (min-width: 769px) {
        display: none;
      }
    }

    &--form {
      border-top: 1px solid #ebebee;
      padding-top: 36px;
      color: #757479;
      font-size: 12px;
      max-width: 768px;
    }
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding-bottom: 5px;
  margin-left: 20px;

  @media (max-width: 768px) {
    padding-bottom: 0px;
  }

  &_name {
    font-size: 18px;
    padding-bottom: 12px;

    @media (max-width: 768px) {
      padding-bottom: 8px;
    }
  }

  &_phone {
    font-size: 14px;
    color: #757479;

    @media (max-width: 768px) {
      padding-bottom: 8px;
    }

    a {
      padding-left: 5px;
    }
  }

  &_bonuses {
    font-size: 12px;
    color: #92939a;
  }
}

.button {
  height: 100%;
  padding-top: 27px;
  &_link {
    color: #000;
    text-decoration: underline;
    font-weight: 500;
    flex: 1;

    @media (max-width: 768px) {
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;

  @media (max-width: 768px) {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  &_item {
    max-width: 427px;
    flex-basis: calc(50% - 20px);
    width: 100%;
    &:nth-child(-n + 2) {
      padding-bottom: 20px;
    }

    @media (max-width: 768px) {
      padding-bottom: 19px;
    }

    p {
      padding-bottom: 7px;
    }

    &--label {
      background-color: #f3f3f5;

      input {
        padding: 14px 0 12px 12px;
        outline: none;
        border: none;
        border-radius: 5px;
        width: 100%;
        background-color: inherit;

        &:focus {
          box-shadow: 0 0 2px 2px #8aebff;
        }
      }

      textarea {
        padding: 14px 0 12px 12px;
        outline: none;
        border: none;
        border-radius: 5px;
        width: 100%;
        background-color: inherit;
        resize: vertical;
        height: auto;

        &:focus {
          box-shadow: 0 0 2px 2px #8aebff;
        }
      }

      select {
        padding: 14px 0 12px 12px;
        outline: none;
        border: none;
        border-radius: 5px;
        width: 100%;
        background-color: inherit;

        &:focus {
          box-shadow: 0 0 2px 2px #8aebff;
        }
      }
    }
  }

  &-button {
    display: flex;
    justify-content: end;
    padding-top: 57px;

    @media (max-width: 768px) {
      flex-direction: column;
      padding-top: 20px;
    }
  }
}

.mobile {
  color:#000
}

.mobile-inner {
  display: flex;
}

