@import '../../style/colors.scss';
.profile {
  &-header {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &_link--mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 48px;

    h3 {
      padding-bottom: 0;
    }

    &--button {
      padding: 15px;
    }

    img {
      display: block;
    }

    @media (min-width: 769px) {
      display: none;
    }
  }

  &_info {
    &--head {
      @media (max-width: 768px) {
        display: none;
      }

      display: flex;
      flex-direction: row;
      align-items: center;
      padding-bottom: 32px;

      &__photo {
        display: block;
        border-radius: 50%;
        width: 70px;
        height: 70px;
      }

      &__contacts {
        @media (max-width: 768px) {
          padding-left: 20px;
        }
      }

      &__button {
        padding-left: 32px;
      }
    }

    &--head__mobile {
      display: flex;
      align-items: center;
      margin-bottom: 30px;

      @media (min-width: 769px) {
        display: none;
      }
    }

    &--bonuses__mobile {
      display: flex;

      p {
        padding: 19px 0 30px 0;
        margin: 0 auto;
        font-size: 12px;
        color: #92939a;
      }

      @media (min-width: 769px) {
        display: none;
      }
    }

    &--form {
      border-top: 1px solid #ebebee;
      padding-top: 36px;
      color: #757479;
      font-size: 12px;
      max-width: 768px;
    }
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding-bottom: 5px;
  margin-left: 24px;

  @media (max-width: 768px) {
    padding-bottom: 0px;
  }

  &_name {
    font-size: 18px;
    padding-bottom: 12px;
    font-family: 'Golos Text';
    font-weight: 500;
    line-height: 150%;
    @media (max-width: 768px) {
      padding-bottom: 3px;
    }
  }

  &_phone {
    font-size: 14px;
    color: #12130f;
    line-height: 150%;

    @media (max-width: 768px) {
      padding-bottom: 8px;
    }
    @media (min-width: 769px) {
      color: #757479;
      font-size: 16px;
    }

    a {
      padding-left: 5px;
    }
  }

  &_bonuses {
    font-size: 12px;
    color: #92939a;
  }
}

.button {
  height: 100%;
  padding-top: 27px;
  &_link {
    font-size: 16px;
    color: #000;
    text-decoration: underline;
    font-weight: 500;
    flex: 1;
    cursor: pointer;

    @media (max-width: 768px) {
      font-size: 14px;
      font-weight: 400;
      margin-left: 10px;
    }
  }
}

.button_link.label {
  margin-left: unset;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;

  @media (max-width: 768px) {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  &_item {
    max-width: 427px;
    flex-basis: calc(50% - 20px);
    width: 100%;
    &:nth-child(-n + 2) {
      padding-bottom: 20px;
    }

    @media (max-width: 768px) {
      padding-bottom: 19px;
    }

    p {
      color: #757479;
      font-family: 'Golos Text';
      font-size: 12px;
      font-weight: 400;
      line-height: 150%;
      padding-bottom: 7px;
    }

    &--label {
      background-color: #f3f3f5;

      input {
        padding: 14px 0 12px 12px;
        outline: none;
        border: none;
        border-radius: 5px;
        width: 100%;
        background-color: inherit;
        height: 50px;
        &::placeholder {
          font-family: 'Golos Text';
          font-size: 16px;
          font-weight: 400;
          line-height: 150%;
        }
        &:focus {
          box-shadow: 0 0 2px 2px $accentColorHover;
        }
      }

      textarea {
        padding: 14px 0 12px 12px;
        outline: none;
        border: none;
        border-radius: 5px;
        width: 100%;
        background-color: inherit;
        resize: vertical;
        height: auto;

        &:focus {
          box-shadow: 0 0 2px 2px $accentColorHover;
        }
      }

      select {
        padding: 14px 0 12px 12px;
        outline: none;
        border: none;
        border-radius: 5px;
        width: 100%;
        background-color: inherit;

        &:focus {
          box-shadow: 0 0 2px 2px $accentColorHover;
        }
      }
    }
  }

  &-button {
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;

    @media (max-width: 768px) {
      flex-direction: column;
      padding-top: 20px;
    }
  }
}

//Dropdown styles

.cityDrop {
  padding: 14px 12px 12px 12px;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 100%;
  background-color: inherit;
  height: 50px;
  position: relative;

  &:focus {
    box-shadow: 0 0 2px 2px $accentColorHover;
  }
}

.Dropdown-control {
  display: flex;
  justify-content: space-between;
}

.Dropdown-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 15px;
  scroll-behavior: auto;
  border-radius: 5px;
  scroll-behavior: auto;
  background-color: #f3f3f5;
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  padding: 14px 12px 12px 12px;
}

.Dropdown-option {
  color: #92939a;
  font-family: 'Golos Text';
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  cursor: pointer;

  &.is-selected {
    color: #000;
  }
  &:hover {
    background-color: #ebebee;
  }
}

.Dropdown-option.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.Dropdown-arrow-wrapper {
  width: fit-content;
}

.Dropdown-placeholder {
  color: #000;
  font-family: 'Golos Text';

  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.iconArrow {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;

  cursor: pointer;
}

.iconArrowRotate {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transform: rotate(180deg);
}

//Dropdown styles

.mobile {
  color: #000;
}

.mobile-inner {
  display: flex;
}

.mobile-menu__avatar {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
