@import '../../style/mixins.scss';

.banner {
  position: relative;

  overflow: hidden;
  white-space: nowrap;

  background-image: url('../../assets/bannerDesk.webp');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;

  max-width: 1320px;
  height: 600px;
  margin: 36px auto 0;

  border-radius: 20px;

  @include onMobile {
    background-image: url('../../assets/bannerMob.webp');
    height: 600px;
    width: 350px;
  }
}

.banner__info {
  position: absolute;
  top: 140px;
  left: 78px;

  h1 {
    color: white;
    font-size: 3.12rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -1.28px;
    text-transform: uppercase;
    margin-bottom: 28px;
  }

  p {
    color: white;
    font-family: Unbounded;
    font-size: 20px;
    line-height: 150%;
    width: max-content;
    padding: 8px 13px;
    border-radius: 12px;
    border: 1px solid #fff;
    margin-bottom: 37px;
  }

  button {
    text-decoration: underline;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  span {
    display: block;
    width: 138px;
    height: 24px;
  }

  &-add {
    position: absolute;
    bottom: -82px;
    color: #fff;
    font-family: Golos Text;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
  }

  @include onMobile {
    top: unset;
    bottom: 85px;
    left: 22px;

    h1 {
      font-size: 20px; 
      margin-bottom: 20px;
    }

    p {
      font-size: 14px;
      box-sizing: border-box;
      max-width: 296px;
      font-weight: 400;
      margin-bottom: 20px;
    }

    button {
      font-size: 14px; 
      position: absolute;
      bottom: -60px;
    }

    span {
      display: block;
      width: 120px;
      height: 21px;
    }

    &-add {
      font-size: 12px; 
      width: 200px;
      bottom: -20px;
    }
  }
}

.banner__inner-anim {
  display: flex;
  gap: 30px;
  position: absolute;
  bottom: 10px;
  color: white;

  @include onMobile {
    bottom: 255px;
  }
}

.banner[data-animated='true'] {
  overflow: hidden;
}

.banner[data-animated='true'] .banner__inner-anim {
  width: fit-content;
  flex-wrap: nowrap;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 5px));
  }
}

.anim-item {
  list-style: disc;
  font-family: Unbounded;
  font-size: 21px;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: -0.42px;
}
